<!doctype html>

<!---
Copyright 2017 The AMP Start Authors. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS-IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<html ⚡="">

<head>
  <meta charset="utf-8">
  <title>The Recipe Blog</title>
  <link rel="canonical" href="https://www.ampstart.com/templates/blog.amp">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  <script async="" src="https://cdn.ampproject.org/v0.js"></script>



  <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>


<script custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js" async=""></script>
<script custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js" async=""></script>
<script custom-element="amp-accordion" src="https://cdn.ampproject.org/v0/amp-accordion-0.1.js" async=""></script>
<script custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js" async=""></script>
<script custom-element="amp-date-picker" src="https://cdn.ampproject.org/v0/amp-date-picker-0.1.js" async=""></script>

<%= render 'layouts/css' %>
</head>
  <body>

  <!-- Start Navbar -->
  <header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4 ">
    <amp-img src="<%= image_path("logo.png")%>" width="100" height="22" layout="fixed" class="my0 mx-auto " alt="The Blog"></amp-img>
      <div role="button" aria-label="open sidebar" on="tap:header-sidebar.toggle" tabindex="0" class="ampstart-navbar-trigger">☰
      </div>
  </header>

  <%= render partial: "layouts/navbar" %>

  <main id="content" role="main" class="">
    <article class="form-quote">
      <header>
        <h2 class="mb1 px3 text-center">Pesan Jasa Service AC Terpercaya</h2>
      </header>
      <div class="wrapper">
        <div class="workings-side">
          <h3 class="text-center">Bagaimana Cara Kerjanya?</h3>
          <div class="working">
            <div>
              <amp-img src="<%= image_path("home2/work-1.jpg")%>" width="683" height="1024" layout="responsive" alt="strawberries" class="img-circle mb4 mx3"></amp-img>
            </div>
            <div class="step-description">
              <h5><b>Jelaskan Kebutuhan Anda</b></h5>
              <div class="small">Beritahu kami secara lengkap tentang layanan yang Anda butuhkan</div>
            </div>
          </div>
          <br>
          <div class="working">
            <div>
              <amp-img src="<%= image_path("home2/work-2.jpg")%>" width="683" height="1024" layout="responsive" alt="strawberries" class="img-circle mb4 mx3"></amp-img>
            </div>
            <div class="step-description">
              <h5><b>Tunggu Beberapa Saat</b></h5>
              <div class="small">Penyedia jasa akan langsung menghubungi Anda</div>
            </div>
          </div>
          <br>
          <div class="working">
            <div>
              <amp-img src="<%= image_path("home2/work-3.jpg")%>" width="683" height="1024" layout="responsive" alt="strawberries" class="img-circle mb4 mx3"></amp-img>
            </div>
            <div class="step-description">
              <h5><b>Jaminan Kepuasan</b></h5>
              <div class="small">Dapatkan garansi untuk layanan yang Anda pesan</div>
            </div>
          </div>
        </div>
      </div>

      <section class="px3 mb4">
        <h2 class="">Request Details</h2>
        <p class="red_color mb2">
        <i>
        <b>Kolom bertanda * wajib diisi</b>
        </i>
        </p>
        <div style="margin-bottom: 5px;" class="form-group radio_buttons required service_ac_request_question1">
          <label class="radio_buttons required"><abbr title="required">*</abbr> Keluhan atau Masalah pada AC Anda?</label>
          <input type="hidden" name="service_ac_request[question1]" value=""><span class="radio"><label for="service_ac_request_question1_ac_tidak_dingin"><input onclick="conditionalRadioCheckQ1();" class="radio_buttons required" type="radio" value="AC tidak dingin" name="service_ac_request[question1]" id="service_ac_request_question1_ac_tidak_dingin">AC tidak dingin</label></span><span class="radio"><label for="service_ac_request_question1_ac_berisik"><input onclick="conditionalRadioCheckQ1();" class="radio_buttons required" type="radio" value="AC berisik" name="service_ac_request[question1]" id="service_ac_request_question1_ac_berisik">AC berisik</label></span><span class="radio"><label for="service_ac_request_question1_ac_bocor"><input onclick="conditionalRadioCheckQ1();" class="radio_buttons required" type="radio" value="AC bocor" name="service_ac_request[question1]" id="service_ac_request_question1_ac_bocor">AC bocor</label></span><span class="radio"><label for="service_ac_request_question1_lainnya"><input onclick="conditionalRadioCheckQ1();" class="radio_buttons required" type="radio" value="Lainnya" name="service_ac_request[question1]" id="service_ac_request_question1_lainnya">Lainnya</label></span><span class="radio"><label for="service_ac_request_question1_tidak_ada"><input onclick="conditionalRadioCheckQ1();" class="radio_buttons required" type="radio" value="Tidak ada" name="service_ac_request[question1]" id="service_ac_request_question1_tidak_ada">Tidak ada</label></span>
        </div>

        <div style="margin-bottom: 5px;" class="form-group radio_buttons required service_ac_request_question2">
          <label class="radio_buttons required"><abbr title="required">*</abbr> Layanan yang Anda butuhkan?</label><input type="hidden" name="service_ac_request[question2]" value=""><span class="radio"><label for="service_ac_request_question2_cuci_ac"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Cuci AC" name="service_ac_request[question2]" id="service_ac_request_question2_cuci_ac">Cuci AC</label></span><span class="radio"><label for="service_ac_request_question2_perbaikan_ac"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Perbaikan AC" name="service_ac_request[question2]" id="service_ac_request_question2_perbaikan_ac">Perbaikan AC</label></span><span class="radio"><label for="service_ac_request_question2_tambahisi_freon"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Tambah/isi freon" name="service_ac_request[question2]" id="service_ac_request_question2_tambahisi_freon">Tambah/isi freon</label></span><span class="radio"><label for="service_ac_request_question2_bongkar_pasang_ac"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Bongkar pasang AC" name="service_ac_request[question2]" id="service_ac_request_question2_bongkar_pasang_ac">Bongkar pasang AC</label></span><span class="radio"><label for="service_ac_request_question2_bongkar_ac"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Bongkar AC" name="service_ac_request[question2]" id="service_ac_request_question2_bongkar_ac">Bongkar AC</label></span><span class="radio"><label for="service_ac_request_question2_pasang_ac"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Pasang AC" name="service_ac_request[question2]" id="service_ac_request_question2_pasang_ac">Pasang AC</label></span><span class="radio"><label for="service_ac_request_question2_lainnya"><input onclick="conditionalRadioCheckQ2();executeMe();" class="radio_buttons required" type="radio" value="Lainnya" name="service_ac_request[question2]" id="service_ac_request_question2_lainnya">Lainnya</label></span>
        </div>

        <div class="form-group check_boxes required service_ac_request_question3"><label class="check_boxes required">
          <abbr title="required">*</abbr> Jenis AC yang Anda miliki?</label><input type="hidden" name="service_ac_request[question3][]" value=""><span class="checkbox"><label for="service_ac_request_question3_ac_split"><input class="check_boxes required" required="required" aria-required="true" type="checkbox" value="AC Split" name="service_ac_request[question3][]" id="service_ac_request_question3_ac_split">AC Split</label></span><span class="checkbox"><label for="service_ac_request_question3_ac_central"><input class="check_boxes required" required="required" aria-required="true" type="checkbox" value="AC Central" name="service_ac_request[question3][]" id="service_ac_request_question3_ac_central">AC Central</label></span><span class="checkbox"><label for="service_ac_request_question3_ac_window"><input class="check_boxes required" required="required" aria-required="true" type="checkbox" value="AC Window" name="service_ac_request[question3][]" id="service_ac_request_question3_ac_window">AC Window</label></span><span class="checkbox"><label for="service_ac_request_question3_lainnya"><input class="check_boxes required" required="required" aria-required="true" type="checkbox" value="Lainnya" name="service_ac_request[question3][]" id="service_ac_request_question3_lainnya">Lainnya</label></span><span class="checkbox"><label for="service_ac_request_question3_saya_tidak_tahu"><input class="check_boxes required" required="required" aria-required="true" type="checkbox" value="Saya tidak tahu" name="service_ac_request[question3][]" id="service_ac_request_question3_saya_tidak_tahu">Saya tidak tahu</label></span>
        </div>

        <div style="margin-bottom: 5px;" class="form-group check_boxes optional service_ac_request_question4">
          <label class="check_boxes optional">Berapa Horsepower (PK) AC Anda?</label><input type="hidden" name="service_ac_request[question4][]" value=""><span class="checkbox"><label for="service_ac_request_question4_12_pk"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="1/2 PK" name="service_ac_request[question4][]" id="service_ac_request_question4_12_pk">1/2 PK</label></span><span class="checkbox"><label for="service_ac_request_question4_34_pk"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="3/4 PK" name="service_ac_request[question4][]" id="service_ac_request_question4_34_pk">3/4 PK</label></span><span class="checkbox"><label for="service_ac_request_question4_1_pk"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="1 PK" name="service_ac_request[question4][]" id="service_ac_request_question4_1_pk">1 PK</label></span><span class="checkbox"><label for="service_ac_request_question4_15_pk"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="1.5 PK" name="service_ac_request[question4][]" id="service_ac_request_question4_15_pk">1.5 PK</label></span><span class="checkbox"><label for="service_ac_request_question4_2_pk"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="2 pk" name="service_ac_request[question4][]" id="service_ac_request_question4_2_pk">2 pk</label></span><span class="checkbox"><label for="service_ac_request_question4_lainnya"><input onclick="conditionalRadioCheckQ4();" class="check_boxes optional" type="checkbox" value="Lainnya" name="service_ac_request[question4][]" id="service_ac_request_question4_lainnya">Lainnya</label></span>
        </div>

        <div style="margin-bottom: 5px;" class="form-group check_boxes optional service_ac_request_question5">
          <label class="check_boxes optional">Merek AC Anda?</label><input type="hidden" name="service_ac_request[question5][]" value=""><span class="checkbox"><label for="service_ac_request_question5_lg"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="LG" name="service_ac_request[question5][]" id="service_ac_request_question5_lg">LG</label></span><span class="checkbox"><label for="service_ac_request_question5_daikin"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="Daikin" name="service_ac_request[question5][]" id="service_ac_request_question5_daikin">Daikin</label></span><span class="checkbox"><label for="service_ac_request_question5_sharp"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="Sharp" name="service_ac_request[question5][]" id="service_ac_request_question5_sharp">Sharp</label></span><span class="checkbox"><label for="service_ac_request_question5_fujitsu"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="Fujitsu" name="service_ac_request[question5][]" id="service_ac_request_question5_fujitsu">Fujitsu</label></span><span class="checkbox"><label for="service_ac_request_question5_panasonic"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="Panasonic" name="service_ac_request[question5][]" id="service_ac_request_question5_panasonic">Panasonic</label></span><span class="checkbox"><label for="service_ac_request_question5_lainnya"><input onclick="conditionalRadioCheckQ5();" class="check_boxes optional" type="checkbox" value="Lainnya" name="service_ac_request[question5][]" id="service_ac_request_question5_lainnya">Lainnya</label></span>
        </div>

        <div class="form-group integer required service_ac_request_question6">
          <label class="control-label integer required" for="service_ac_request_question6"><abbr title="required">*</abbr> Berapa unit AC yang perlu dikerjakan?</label><div><input class="form-control numeric integer required" onkeyup="executeMe()" required="required" aria-required="true" type="number" step="1" name="service_ac_request[question6]" id="service_ac_request_question6"></div>
        </div>

        <div class="form-group radio_buttons required service_ac_request_question7">
          <label class="radio_buttons required"><abbr title="required">*</abbr> Apakah penyedia jasa perlu membawa tangga?</label><input type="hidden" name="service_ac_request[question7]" value=""><span class="radio"><label for="service_ac_request_question7_ya"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Ya" name="service_ac_request[question7]" id="service_ac_request_question7_ya">Ya</label></span><span class="radio"><label for="service_ac_request_question7_tidak"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Tidak" name="service_ac_request[question7]" id="service_ac_request_question7_tidak">Tidak</label></span>
        </div>

        <div class="form-group radio_buttons required service_ac_request_question8">
          <label class="radio_buttons required"><abbr title="required">*</abbr> Apakah jenis properti anda?</label><input type="hidden" name="service_ac_request[question8]" value=""><span class="radio"><label for="service_ac_request_question8_rumah"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Rumah" name="service_ac_request[question8]" id="service_ac_request_question8_rumah">Rumah</label></span><span class="radio"><label for="service_ac_request_question8_apartment"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Apartment" name="service_ac_request[question8]" id="service_ac_request_question8_apartment">Apartment</label></span><span class="radio"><label for="service_ac_request_question8_kantor"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Kantor" name="service_ac_request[question8]" id="service_ac_request_question8_kantor">Kantor</label></span><span class="radio"><label for="service_ac_request_question8_ruko"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Ruko" name="service_ac_request[question8]" id="service_ac_request_question8_ruko">Ruko</label></span><span class="radio"><label for="service_ac_request_question8_lainnya"><input class="radio_buttons required" required="required" aria-required="true" type="radio" value="Lainnya" name="service_ac_request[question8]" id="service_ac_request_question8_lainnya">Lainnya</label></span>
        </div>

        <amp-date-picker id="simple-date-picker"
          type="single"
          mode="overlay"
          layout="container"
          on="select:AMP.setState({date1: event.date, dateType1: event.id})"
          format="YYYY-MM-DD"
          open-after-select
          input-selector="[name=date1]"
          class="example-picker space-between">
          <div class="icon-input"></div>
          <div class="ampstart-input">
            <input class="border-none p0"
              name="date1"
              placeholder="Pick a date">
          </div>
        </amp-date-picker>
        
        <div class="form-group string required readonly service_ac_request_question9">
          <label class="control-label string required" for="datepicker"><abbr title="required">*</abbr> Kapan Anda membutuhkan layanan?</label><div><input class="form-control string required readonly datepicker date-cursor" id="datepicker" readonly="readonly" required="required" aria-required="true" type="text" name="service_ac_request[question9]"></div>
        </div>

        <div class="form-group select required service_ac_request_question10"><label class="control-label select required" for="service_ac_request_question10">
          <abbr title="required">*</abbr> Pada pukul berapa Anda membutuhkan layanan?</label><div><select class="form-control select required range-time" required="required" aria-required="true" name="service_ac_request[question10]" id="service_ac_request_question10"><option value=""></option>
          <option value="09:00 - 12:00">09:00 - 12:00</option>
          <option value="12:00 - 15:00">12:00 - 15:00</option>
          <option value="15:00 - 18:00">15:00 - 18:00</option>
          <option value="18:00 - 21:00">18:00 - 21:00</option>
          <option value="21:00 - 09:00">21:00 - 09:00</option></select></div>
        </div>

        <div class="form-group text optional service_ac_request_question11">
          <label class="control-label text optional" for="service_ac_request_question11">Informasi tambahan</label><div><textarea class="form-control text optional" rows="4" name="service_ac_request[question11]" id="service_ac_request_question11" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 98px;"></textarea><p class="help-block">Jika Anda menjawab ‘lainnya’ sebagai jawaban pada pertanyaan-pertanyaan sebelumnya, harap menjelaskan dengan lengkap di sini. Semakin lengkap informasi yang Anda berikan, semakin akurat penawaran harga yang Anda dapatkan</p></div>
        </div>

<form method="GET" action="/" target="_top" class="p0 m0 px3 mb4">
<fieldset class="border-none p0 m0">
      <h2 class="block mb4">Get our newsletter</h2>

<!-- Start Input -->
<div class="ampstart-input inline-block relative m0 p0 mb3 ">
<input type="email" value="" name="emailid" id="emailid" class="block border-none p0 m0" placeholder="Email">
<label for="emailid" class="absolute top-0 right-0 bottom-0 left-0" aria-hidden="true">Email</label>
</div>
<!-- End Input-->











<!-- Start Submit -->
<input type="submit" name="submit" value="SUBMIT" id="submit" class="ampstart-btn mb3 ampstart-btn-secondary">
<!-- End Submit -->








</fieldset>
</form>
      </div>

      <section class="recipe-popular-articles">
        <h2 class="mb4">Popular Articles</h2>

        <amp-img src="../img/blog/popular1.jpg" width="1280" height="853" layout="responsive" alt="The sandy beach walk" class="mb1"></amp-img>
        <h3 class="mb4">Beach Getaway</h3>

        <amp-img src="../img/blog/popular2.png" width="649" height="497" layout="responsive" alt="Dinner on a plate" class="mb1"></amp-img>
        <h3 class="mb4">Dinner party tips</h3>
      </section>

      <section>
        <h2 class="mb4">Want</h2>
        <amp-carousel type="carousel" layout="fixed-height" height="285" controls="" class="mb4">
          <amp-img src="../img/blog/want1.png" width="205" height="285" alt="Want1"></amp-img>
          <amp-img src="../img/blog/want2.png" width="205" height="285" alt="Want2"></amp-img>
          <amp-img src="../img/blog/want3.png" width="205" height="285" alt="Want3"></amp-img>
          <amp-img src="../img/blog/want1.png" width="205" height="285" alt="Want1"></amp-img>
          <amp-img src="../img/blog/want2.png" width="205" height="285" alt="Want2"></amp-img>
          <amp-img src="../img/blog/want3.png" width="205" height="285" alt="Want3"></amp-img>
        </amp-carousel>
      </section>

      <section>
        <h2 class="mb4">Meet Lola</h2>
        <amp-img src="../img/blog/meetloloa.jpg" width="1280" height="853" layout="responsive" class="mb3" alt="Lola hanging out in the beach"></amp-img>
        <p class="mb4">
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam, nisi quis porttitor congue, elit erat euismod orci, ac placerat dolor lectus quis orci. Phasellus consectetuer vestibulum elit. Aenean tellus metus, bibendum sed, posuere ac, mattis non, nunc. Vestibulum fringilla pede sit amet augue. In turpis. Pellentesque posuere. Praesent turpis.
        </p>
      </section>

      <amp-instagram data-shortcode="BRJd8UIjTXN" width="379" height="379" layout="responsive" class="ampstart-card p0 mb4 px3"></amp-instagram>



<ul class="ampstart-social-follow list-reset flex justify-around items-center flex-wrap m0 mb4">
  <li>
      <a href="#" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Twitter"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="22.2" viewbox="0 0 53 49"><title>Twitter</title><path d="M45 6.9c-1.6 1-3.3 1.6-5.2 2-1.5-1.6-3.6-2.6-5.9-2.6-4.5 0-8.2 3.7-8.2 8.3 0 .6.1 1.3.2 1.9-6.8-.4-12.8-3.7-16.8-8.7C8.4 9 8 10.5 8 12c0 2.8 1.4 5.4 3.6 6.9-1.3-.1-2.6-.5-3.7-1.1v.1c0 4 2.8 7.4 6.6 8.1-.7.2-1.5.3-2.2.3-.5 0-1 0-1.5-.1 1 3.3 4 5.7 7.6 5.7-2.8 2.2-6.3 3.6-10.2 3.6-.6 0-1.3-.1-1.9-.1 3.6 2.3 7.9 3.7 12.5 3.7 15.1 0 23.3-12.6 23.3-23.6 0-.3 0-.7-.1-1 1.6-1.2 3-2.7 4.1-4.3-1.4.6-3 1.1-4.7 1.3 1.7-1 3-2.7 3.6-4.6" class="ampstart-icon ampstart-icon-twitter"></path></svg></a>
  </li>
  <li>
      <a href="#" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Facebook"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="23.6" viewbox="0 0 56 55"><title>Facebook</title><path d="M47.5 43c0 1.2-.9 2.1-2.1 2.1h-10V30h5.1l.8-5.9h-5.9v-3.7c0-1.7.5-2.9 3-2.9h3.1v-5.3c-.6 0-2.4-.2-4.6-.2-4.5 0-7.5 2.7-7.5 7.8v4.3h-5.1V30h5.1v15.1H10.7c-1.2 0-2.2-.9-2.2-2.1V8.3c0-1.2 1-2.2 2.2-2.2h34.7c1.2 0 2.1 1 2.1 2.2V43" class="ampstart-icon ampstart-icon-fb"></path></svg></a>
  </li>
  <li>
      <a href="#" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML Instagram"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 54 54"><title>instagram</title><path d="M27.2 6.1c-5.1 0-5.8 0-7.8.1s-3.4.4-4.6.9c-1.2.5-2.3 1.1-3.3 2.2-1.1 1-1.7 2.1-2.2 3.3-.5 1.2-.8 2.6-.9 4.6-.1 2-.1 2.7-.1 7.8s0 5.8.1 7.8.4 3.4.9 4.6c.5 1.2 1.1 2.3 2.2 3.3 1 1.1 2.1 1.7 3.3 2.2 1.2.5 2.6.8 4.6.9 2 .1 2.7.1 7.8.1s5.8 0 7.8-.1 3.4-.4 4.6-.9c1.2-.5 2.3-1.1 3.3-2.2 1.1-1 1.7-2.1 2.2-3.3.5-1.2.8-2.6.9-4.6.1-2 .1-2.7.1-7.8s0-5.8-.1-7.8-.4-3.4-.9-4.6c-.5-1.2-1.1-2.3-2.2-3.3-1-1.1-2.1-1.7-3.3-2.2-1.2-.5-2.6-.8-4.6-.9-2-.1-2.7-.1-7.8-.1zm0 3.4c5 0 5.6 0 7.6.1 1.9.1 2.9.4 3.5.7.9.3 1.6.7 2.2 1.4.7.6 1.1 1.3 1.4 2.2.3.6.6 1.6.7 3.5.1 2 .1 2.6.1 7.6s0 5.6-.1 7.6c-.1 1.9-.4 2.9-.7 3.5-.3.9-.7 1.6-1.4 2.2-.7.7-1.3 1.1-2.2 1.4-.6.3-1.7.6-3.5.7-2 .1-2.6.1-7.6.1-5.1 0-5.7 0-7.7-.1-1.8-.1-2.9-.4-3.5-.7-.9-.3-1.5-.7-2.2-1.4-.7-.7-1.1-1.3-1.4-2.2-.3-.6-.6-1.7-.7-3.5 0-2-.1-2.6-.1-7.6 0-5.1.1-5.7.1-7.7.1-1.8.4-2.8.7-3.5.3-.9.7-1.5 1.4-2.2.7-.6 1.3-1.1 2.2-1.4.6-.3 1.6-.6 3.5-.7h7.7zm0 5.8c-5.4 0-9.7 4.3-9.7 9.7 0 5.4 4.3 9.7 9.7 9.7 5.4 0 9.7-4.3 9.7-9.7 0-5.4-4.3-9.7-9.7-9.7zm0 16c-3.5 0-6.3-2.8-6.3-6.3s2.8-6.3 6.3-6.3 6.3 2.8 6.3 6.3-2.8 6.3-6.3 6.3zm12.4-16.4c0 1.3-1.1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3 0-1.2 1-2.3 2.3-2.3 1.2 0 2.3 1.1 2.3 2.3z" class="ampstart-icon ampstart-icon-instagram"></path></svg></a>
  </li>
  <li>
      <a href="#" target="_blank" class="inline-block p1" aria-label="Link to AMP HTML pin trest"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="28.5" viewbox="0 0 43 51"><title>pinterest</title><path d="M8.134 18.748c0-1.6.2-3 .8-4.4.5-1.4 1.2-2.6 2.2-3.6.9-1 2-1.9 3.2-2.6 1.2-.8 2.5-1.3 3.9-1.7 1.5-.4 2.9-.5 4.4-.5 2.2 0 4.3.4 6.2 1.4 1.9.9 3.5 2.3 4.7 4.1 1.2 1.9 1.8 3.9 1.8 6.2 0 1.4-.1 2.7-.4 4-.2 1.3-.7 2.6-1.2 3.8-.6 1.2-1.3 2.3-2.2 3.2-.8.9-1.8 1.7-3.1 2.2-1.2.6-2.5.9-4 .9-1 0-1.9-.3-2.9-.7-.9-.5-1.6-1.1-2-1.9-.1.5-.3 1.4-.6 2.4-.3 1.1-.4 1.7-.5 2-.1.3-.2.9-.4 1.6-.3.7-.4 1.2-.6 1.5-.1.3-.4.7-.7 1.3-.3.6-.6 1.2-1 1.7-.3.5-.7 1.1-1.3 1.8l-.3.1-.2-.2c-.2-2.2-.3-3.6-.3-4 0-1.3.2-2.8.5-4.4.3-1.7.8-3.7 1.4-6.2.6-2.5 1-3.9 1.1-4.4-.5-.9-.7-2.1-.7-3.6 0-1.2.4-2.3 1.1-3.3.8-1.1 1.7-1.6 2.8-1.6.9 0 1.6.3 2.1.9.4.6.7 1.3.7 2.2 0 .9-.3 2.3-1 4.1-.6 1.8-.9 3.1-.9 4 0 .9.3 1.6 1 2.2.6.6 1.4.9 2.3.9.8 0 1.5-.2 2.2-.5.6-.4 1.2-.9 1.6-1.5.5-.6.9-1.3 1.2-2 .4-.8.6-1.5.8-2.4.2-.8.4-1.6.5-2.4.1-.7.1-1.4.1-2.1 0-2.5-.8-4.4-2.3-5.8-1.6-1.4-3.6-2.1-6.1-2.1-2.8 0-5.2 1-7.1 2.8-1.9 1.9-2.9 4.2-2.9 7.1 0 .6.1 1.2.3 1.8.2.6.4 1.1.6 1.4.2.3.4.7.5 1 .2.3.3.5.3.6 0 .4-.1.9-.3 1.6-.2.6-.5 1-.8 1 0 0-.1-.1-.4-.1-.7-.2-1.3-.6-1.9-1.2-.5-.6-1-1.3-1.3-2-.3-.8-.5-1.6-.7-2.4-.2-.7-.2-1.5-.2-2.2z" class="ampstart-icon ampstart-icon-pinterest"></path></svg></a>
  </li>
</ul>

      <section>
        <h2 class="mb3">Categories</h2>
        <ul class="list-reset p0 m0 mb4">
          <li class="mb2">
            <a href="#" class="text-decoration-none h3">Fashion</a>
          </li>
          <li class="mb2">
            <a href="#" class="text-decoration-none h3">Travel</a>
          </li>
          <li class="mb2">
            <a href="#" class="text-decoration-none h3">Decor</a>
          </li>
          <li class="mb2">
            <a href="#" class="text-decoration-none h3">Beauty</a>
          </li>
        
      </ul></section>
    </section></article>
  </main>

  <!-- Start Footer -->
  <footer class="ampstart-footer flex flex-column items-center px3 ">


    <nav class="ampstart-footer-nav">
      <ul class="list-reset flex flex-wrap mb3">
        <li class="px1"><a class="text-decoration-none ampstart-label" href="#">About</a></li>
        <li class="px1"><a class="text-decoration-none ampstart-label" href="#">Contact</a></li>
        <li class="px1"><a class="text-decoration-none ampstart-label" href="#">Terms</a></li>
      </ul>
    </nav>
    <small>
      © Your Company, 2016
    </small>
  </footer>
  <!-- End Footer -->
  </body>
</html>
